.container {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}

header {
    padding: 5px;
    margin-bottom: 10px;
}

.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #333;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.title {
    font-size: 20px;
    margin: 0;
    color: #333;
    position: relative;
}

.title::before,
.title::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20%;
    height: 1px;
    background-color: #333;
}

.title::before {
    left: 0;
}

.title::after {
    right: 0;
}

.search-container {
    text-align: center;
    margin-bottom: 10px;
}

.search {
    width: 80%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
}

.faq-list-container {
    max-height: 60vh;
    overflow-y: auto;
}

.faq-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    overflow-y: auto;
}

.faq-item {
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.faq-item h2 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.pagination {
    margin-top: 10px;
}

.pagination lightning-button {
    margin: 5px;
}